*,*::after,*::before{
    padding: 0px;
    margin: 0px;
}

body{
    color: white;
    height: calc(100vh - 30px);
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background:conic-gradient(from 45deg,rgb(16, 59, 112),rgb(62, 62, 167),rgb(36, 105, 81),rgb(65, 101, 145),rgb(112, 42, 193),rgb(16, 59, 112));;
}

#container{
    width: 1000px;
    margin: auto;
    margin-top: 30px;
    /* box-shadow: 0px 0px 10px white; */
    padding: 0px;
    /* background-color: cyan; */
    /* border: 1px white solid; */
    /* border-radius: 30px; */
}


#tools{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.24);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#shapeSelector{
    margin-left: 10px;
    display: flex;
    gap: 3px;
}

.radioButton{
    /* background-color: wheat; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: black solid 2px; */
}

.radioButton input{
    display:none;
}

.radioButton label{
    color: white;
    padding: 10px;
    border: white solid 1px;
    border-radius: 5px;
    background: linear-gradient(45deg, rgb(61, 57, 74), rgb(87, 81, 105), rgb(61, 57, 74))
}

.radioButton input:checked + label{
    background: linear-gradient(45deg, rgb(12, 87, 47), rgb(14, 113, 60), rgb(12, 87, 47));
}

.radioButton input:hover + label{
    background : linear-gradient(45deg, rgb(26, 40, 101), rgb(35, 54, 139), rgb(26, 40, 101));
}


#sidesSelect{
    color: white;
    padding-top: 5px;
    padding-left: 3px;
    padding-right: 3px;
    border: white solid 1px;
    border-radius: 5px;
    background: linear-gradient(45deg, rgb(61, 57, 74), rgb(87, 81, 105), rgb(61, 57, 74));
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#sidesSelect input{
    height: 50%;
}

#backgroundSelect{
    color: white;
    padding-top: 5px;
    padding-left: 3px;
    padding-right: 3px;
    border: white solid 1px;
    border-radius: 5px;
    background: linear-gradient(45deg, rgb(61, 57, 74), rgb(87, 81, 105), rgb(61, 57, 74));
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#backgroundSelect input{
    height: 55%;
    width: 100%;
}

#styleSelector{
    display: flex;
    gap: 10px;
}

#styleSelector div{
    display: flex;
    flex-direction: column;
}


#workspace{
    margin: 0px;
    display: flex;
    gap: 3px;
}

#canvasDiv{
    margin: 0px;
    padding: 0px;
}

#myCanvas {

}

#shapeManager{
    width: 100%;
    background-color: rgb(32, 25, 53);
    overflow-y: scroll;
    max-height: 600px;
}

#clearButton{
    width: 100%;
    background-color: red;
    color: white;
    font-weight: 900;
}

#unreDo{
    display: flex;
    justify-content: space-around;
}

#unreDo button{
    width: 100%;
}

#shapeList{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 3px;
}

#shapeList li{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.1);
}

#shapeList li:nth-child(odd){
    /* width: 100%; */
    background-color: rgba(255, 255, 255, 0.2);
}

.shapeRemover{
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 0px 0px 3px black;
}